
/*################################*\
    legacy  |  _c-DateBlock.less
\*################################*/
@import (reference) url('../../node_modules/xmeter/css/src/__tool.fontsize.less');
@import (reference) url('__settings.less');
@import (reference) url('__tool.buttonText.less');


// The Date Block
//
// A block containing rows of important dates.
// The first column is the date,
// the second column is the description.
//
// <header><dl>
//   <dt>author</dt>  <dd>Chris Harvey</dd>
//   <dt>updated</dt> <dd><time>2018-05-04</time></dd>
// </dl></header>
//
// Markup:
// <table><tbody class="c-DateBlock">
//   <tr class="c-DateBlock__Item" itemprop="potentialAction" itemscope="" itemtype="https://schema.org/Action">
//     <td class="c-DateBlock__Date">
//       <time datetime="2015-10-12" itemprop="startTime">Oct 12, 2015</time>
//     </td>
//     <td class="c-DateBlock__Desc" itemprop="name">
//       Optional Final Papers Due
//     </td>
//   </tr>
//   <tr class="c-DateBlock__Item" itemprop="potentialAction" itemscope="" itemtype="https://schema.org/Action">
//     <td class="c-DateBlock__Date">
//       <time datetime="2015-12-17" itemprop="startTime">Dec 17, 2015</time>
//     </td>
//     <td class="c-DateBlock__Desc" itemprop="name">
//       <a class="c-DateBlock__Link" href="#0" itemprop="url">Early-Bird Registration Closes</a>
//     </td>
//   </tr>
//   <tr class="c-DateBlock__Item" itemprop="potentialAction" itemscope="" itemtype="https://schema.org/Action">
//     <td class="c-DateBlock__Date">
//       <time datetime="2015-12-18" itemprop="startTime">Dec 18, 2015</time>
//       &ndash;
//       <time datetime="2015-12-21" itemprop="endTime">Dec 21, 2015</time>
//     </td>
//     <td class="c-DateBlock__Desc" itemprop="name">
//       Advance Registration Period
//     </td>
//   </tr>
// </tbody></table>
//
// Weight: 17
//
// Styleguide Components.DateBlock

@columngap: 0.5rem;
@rowgap: 0.5lh;

.c-DateBlock {
  .font-size-mod(14/16);
  font-weight: 600;
}

.c-DateBlock__Item {
  border-bottom: solid white;
  border-bottom-width: (0.5 * 1.5rem);
  border-bottom-width: calc(0.5 * var(--lh));
  border-bottom-width: @rowgap;
}

.c-DateBlock__Date {
  padding-right: @columngap;
  text-align: right;
}

.c-DateBlock__Desc {
  padding-left: @columngap;
  border-left: 1px solid currentColor; // COMBAK:FALLBACK
  // border-left: 1px solid var(--color-secondary, @g-color-secondary);
}

.c-DateBlock__Expired {
  opacity: 0.25;
}

.c-DateBlock__MonthDay {
  .buttonText();
  color: var(--color-secondary, @g-color-secondary);
  font-family: inherit; // override `.buttonText()`
}

.c-DateBlock__Link {
  text-decoration: underline;
}


@supports (display: grid) and (display: contents) {
  .c-DateBlock {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: (0.5 * 1.5rem);
    grid-row-gap: calc(0.5 * var(--lh));
    grid-row-gap: @rowgap;
    row-gap: (0.5 * 1.5rem);
    row-gap: calc(0.5 * var(--lh));
    row-gap: @rowgap;
    grid-column-gap: @columngap;
    column-gap: @columngap;
  }
  .c-DateBlock__Item {
    display: contents;
  }
  .c-DateBlock__Date {
    padding-right: 0; // COMBAK:FALLBACK
    padding-right: unset;
  }
  .c-DateBlock__Desc {
  }
}
